/*-----------------------------------------------------------------------------
 *  ICONS
 * ------------------------------------------------------------------------- */
.icon
    display: inline-block
    vertical-align: middle

.icon-clock
    @extend .icon
    width: 28px
    height: 28px
    fill: color-base

.icon-phone
    @extend .icon
    width: 18px
    height: 30px
    fill: color-base

.icon-whatsapp
    width 18px
    height 30px
    fill #00e676

.icon-viber
    width 18px
    height 30px
    fill lighten(#665cac, 15%);

.icon-calendar
    @extend .icon
    width: 28px
    height: 28px
    fill: color-base

.icon-car
    @extend .icon
    width: 42px
    height: 23px
    fill: color-base

.icon-timer
    @extend .icon
    width: 29px
    height: 35px
    fill: color-base

.icon-request
    @extend .icon
    width 52px
    height 45px
    fill #fff

.icon-contract
    @extend .icon
    width 50px
    height 47px
    fill #fff

.icon-carwork
    @extend .icon
    width 57px
    height 40px
    fill #fff

.icon-money
    @extend .icon
    width 68px
    height 44px
    fill #fff

.icon-circlearrow
    @extend .icon
    width 81px
    height 26px
    fill #fff
    opacity: 0.32

.icon-medal
    @extend .icon
    width 24px
    height 30px
    fill #000

.icon-hand
    @extend .icon
    width 35px
    height 33px
    fill #000

.icon-compas
    @extend .icon
    width 34px
    height 35px
    fill #000

.icon-prize
    @extend .icon
    width 31px
    height 31px
    fill #000

.icon-check
    @extend .icon
    width 20px
    height 20px
    // fill lighten(color-two, 10%)
    fill #fff

.icon-close
    width 15px
    height 15px
    fill color-main

.icon-question
    width 20px
    height 20px
    fill lightness(#ffca28, 70%)