//- Colors
color-main = #222222
color-base = #765bb2
color-two = #259f6a
color-error = #b71c1c
color-placeholder = lighten(#000, 60%)

//- Base
base-font-size = 16px
base-font-color = color-main
base-font-family = 'Roboto', sans-serif
font-heuristica = 'Heuristica', sans-serif

base-img-path = '../img/'

//- Breakpoints
xs = '(max-width: 544px)'
sm = '(max-width: 768px)'
md = '(max-width: 992px)'
lg = '(max-width: 1200px)'
xl = '(max-width: 1400px)'