@import '_vars.styl'
@import '_mixins.styl'
@import 'grid/flexbox-grid.styl'

//- Стандартизация
@import 'common/_elements.styl'

//- Глобальные блоки
@import 'common/_icons.styl'
@import 'common/_header.styl'
@import 'common/_footer.styl'
@import 'common/_forms.styl'

//- ================
//- Элементы страниц
//- ================
@import 'blocks/_hero.styl' //- Баннер на главной
@import 'blocks/_services.styl' //- Наши услуги
@import 'blocks/_calc.styl' //- Калькулятор
@import 'blocks/_about.styl' //- О нас
@import 'blocks/_workpath.styl' //- Как мы работаем
@import 'blocks/_promo.styl' //- Акция
@import 'blocks/_clients.styl' //- Клиенты
@import 'blocks/_testimonials.styl' //- Отзывы
@import 'blocks/_advantage.styl' //- Преимущества
@import 'blocks/_park.styl' //- Автопарк

@import 'blocks/_text.styl' //- Текст

@import 'blocks/_modal.styl' //- Модальное окно

//- ================
//- Стили страниц
//- ================
@import 'pages/_404.styl' //- 404