section.s-clients
    .lines-circle.s-clients__decor

    .s-clients__top
        .grid.grid--container
            .row
                .col.col--md-6.col--md-offset-3
                    .b-title Свой груз нам уже доверили
                    p.b-title-sub Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non facere quibusdam blanditiis unde fugiat nemo porro delectus distinctio adipisci illo?
                // .col
            // .row
        // .grid
    // .s-clients__top

    .s-clients__bottom
        .grid.grid--container
            .row
                .col.col--md-12
                    .b-clients
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/client-svyaznoy.png);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/client-loreal.png);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
                        .b-clients__item
                            .client.hexagon(style="background-image:url("+IMG_PATH+"clients/1.jpg);")
                                .hexagon__one: .hexagon__two
        // .grid

        include _testimonials

    // .s-clients__bottom

// .SECTION-CLIENTS