mixin car_item_tpl(_image, _title, _filter)
    .b-car(data-tab, class= _filter)
        .b-car__title #{_title}

        .b-car__row.row
            .col.col--lg-3.col--md-6
                .b-car__img
                    img(src=IMG_PATH+"park/"+_image alt="car")
            // .col

            .col.col--lg-3.col--md-6
                .b-car__size
                    .car-size(style="background-image:url("+IMG_PATH+"icons/car-size.png);")
                        .car-size__lenght 3м
                        .car-size__width 2м
                        .car-size__height 1.5м
            // .col

            .col.col--lg-3.col--md-6
                .b-car__subtitle Характеристики автомобиля:

                .b-car__table.table-car
                    .table-car__row
                        .table-car__name Длина
                        .table-car__spacer
                        .table-car__value 3м
                    .table-car__row
                        .table-car__name Ширина
                        .table-car__spacer
                        .table-car__value 2м
                    .table-car__row
                        .table-car__name Высота
                        .table-car__spacer
                        .table-car__value 1.5м
                    .table-car__row
                        .table-car__name Объем
                        .table-car__spacer
                        .table-car__value 9м#[sup 3]
                    .table-car__row
                        .table-car__name Грузоподъемность
                        .table-car__spacer
                        .table-car__value 1500кг
                    .table-car__row
                        .table-car__name Вместимость
                        .table-car__spacer
                        .table-car__value 4 европаллет
                    .table-car__row
                        .table-car__name Вид загрузки
                        .table-car__spacer
                        .table-car__value задняя
                    .table-car__row
                        .table-car__name Кол-во пассажирских мест
                        .table-car__spacer
                        .table-car__value 2
            // .col

            .col.col--lg-3.col--md-6
                .b-car__subtitle Дополнительная информация:
                .b-car__content.text-content
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur atque excepturi, necessitatibus totam ipsum modi.
                a.button.button--round.button--base.b-car__button.js-car-order(href="javascript:;" data-car= _title) Заказать
            // .col
    // .b-car

mixin car_item(item)
    - item = item || {};
    - item.img = item.img || '';
    - item.title = item.title || '';
    - item.filter = item.filter || '';

    +car_item_tpl(item.img, item.title, item.filter)

mixin car(...items)
    each item in items
        +car_item(item)