section.s-promo.s-promo--thin#promo
    img.s-promo__img(src=IMG_PATH+'promo/promo-moscow-unlimited.jpg', alt="promo")
    img.s-promo__img(src=IMG_PATH+'promo/promo-comfort.jpg', alt="promo")
    //- .grid.grid--container
    //-     .row
    //-         .col.col--lg-8.col--lg-offset-2

    //-             .b-promo
    //-                 .row.row--md-center

    //-                     .b-promo__left.col.col--md-8
    //-                         .b-promo__title Акция
    //-                         .b-promo__name Скидка 30% в течении всего мая!
    //-                         .b-promo__text
    //-                             p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam, reiciendis. Recusandae odit exercitationem quaerat, dignissimos delectus odio? Illum, porro nemo?
    //-                     // .b-promo__left

    //-                     .b-promo__right.col.col--md-4
    //-                         .b-promo-form
    //-                             .b-promo-form__title Оставьте заявку
    //-                             .b-promo-form__name И получите ответ прямо сейчас!
    //-                             form.b-form(data-validate)
    //-                                 input(type="text", name="mouse", value="", style="display:none;")
    //-                                 input(type="hidden", name="page", value="")
    //-                                 .b-form__success Спасибо!#[br]Ваша заявка отправлена
    //-                                 .b-form__body
    //-                                     .b-form__group
    //-                                         input.b-form__control.input-bordered(type="text", name="name", placeholder="Ваше имя", required)
    //-                                     .b-form__group
    //-                                         input.b-form__control.input-bordered(type="tel", name="tel", placeholder="Ваш телефон", required)
    //-                                     .b-form__group
    //-                                         label.checkbox
    //-                                             input.checkbox__input.hidden-input(type="checkbox" name="agreement" required)
    //-                                             span.checkbox__label #[+svg('check').icon.icon-check] Согласен с #[a(href="#") Пользовательским соглашением]
    //-                                     .b-form__group
    //-                                         button.b-form__button.button.button--round.button--white(type="submit") Отправить
                                // .b-form
                        // .b-promo__right

                    // .row
                // .b-promo

            // .col
        // .row
    // .grid
// .SECTION-PROMO