.s-testimonials
    .grid.grid--container
        .s-testimonials__body
            .line-circle.s-testimonials__decor
            .b-title.text--sm-right Благодарности клиентов
            .testimonials-slider
                .testimonials-slider__body
                    .testimonial
                        .row
                            .col.col--xl-7.col--lg-6.col--sm-align-center
                                .testimonial__text
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe provident nam necessitatibus animi, molestiae unde obcaecati ex quo architecto omnis aperiam voluptas explicabo ut id consectetur, aliquid delectus, deserunt tempore.
                            .col.col--xl-3.col--lg-4.col--xs-8.text--xs-right.col--xs-align-center
                                .testimonial__person
                                    .testimonial__name Игорь Власов
                                    .testimonial__position Директор по развитию ООО Coca-Cola
                            .col.col--xl-2.col--lg-2.col--xs-4.text--xs-right.col--lg-align-top.col--xs-align-center
                                .testimonial__pic.hexagon(style="background-image:url("+IMG_PATH+"testimonial/1.jpg);")
                                    .hexagon__one: .hexagon__two
                    // .testimonial
                    .testimonial
                        .row
                            .col.col--xl-7.col--lg-6.col--sm-align-center
                                .testimonial__text
                                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe provident nam necessitatibus animi, molestiae unde obcaecati ex quo architecto omnis aperiam voluptas explicabo ut id consectetur, aliquid delectus, deserunt tempore.
                            .col.col--xl-3.col--lg-4.col--xs-8.text--xs-right.col--xs-align-center
                                .testimonial__person
                                    .testimonial__name Игорь Власов
                                    .testimonial__position Директор по развитию ООО Coca-Cola
                            .col.col--xl-2.col--lg-2.col--xs-4.text--xs-right.col--lg-align-top.col--xs-align-center
                                .testimonial__pic.hexagon(style="background-image:url("+IMG_PATH+"testimonial/1.jpg);")
                                    .hexagon__one: .hexagon__two
                    // .testimonial
            // .testimonials-slider
        // .s-testimonials__body
    // .grid
// .SECTION-TESTIMONIALS