/*-----------------------------------------------------------------------------
 *  SECTION: promo
 * ------------------------------------------------------------------------- */
.s-promo
    padding 90px 0 80px
    @media md
        padding 30px 0

    &--thin
        padding 0

    &--thin-bottom
        padding-bottom 0

.b-promo
    padding 2rem 0
    &:last-child
        padding-bottom 0

    &__title
        font-size 2rem
        font-weight bold
        text-align center
        text-transform uppercase
        margin 0 0 2rem

    &__img
        display block
        width 100%
        height auto

// .b-promo
//     background-color #f2f2f2

//     & + &
//         margin-top 30px

//     &__left
//     &__right
//         padding 30px

//     &__right
//         background-color #25a06a
//         color #fff

//     &__title
//         text-transform uppercase
//         font-size rem-calc(30px)
//         color #25a06a
//         font-weight 700
//         margin-bottom 15px
//         padding-left 45px
//         background-repeat no-repeat
//         background-position top left
//         background-image url(base-img-path+'icons/percent.png')

//     &__name
//         font-size rem-calc(24px)
//         text-transform uppercase
//         font-weight 500
//         margin-bottom 15px

//     &__text
//         line-height rem-calc(24px)

// .b-promo-form
//     text-align center

//     &__title
//         font-size rem-calc(22px)
//         text-transform uppercase
//         font-weight 500
//         letter-spacing -0.6px
//         margin-bottom 15px

//     &__name
//         line-height rem-calc(18px)
//         margin-bottom 15px

//     .b-form
//         &__group
//             margin-bottom 6px

//         &__control
//             height: 36px
//             background-color #fff
//             border-color #fff
//             border-width 1px
//             color color-main
//             padding 0 15px
//             &::placeholder
//                 font-size 12px
//                 color #656565

//         &__button
//             margin-top 6px
//             width 100%
//             font-size rem-calc(18px)
//             font-weight 500
//             color #1d7e53
//             box-shadow 0 0 18px rgba(210, 255, 0, 0.36)
//             &:hover
//                 color inherit

//     .checkbox
//         font-size 0.7em
